.popup#video
	include popup-action
	.popup__container.content
		video.content__video(muted, loop, width="1920" height="1080")
			source(src='./video/montblanc.mp4', type='video/mp4')
		svg.content__icon.js-square.js-stack(width='150', height='150', viewBox='0 0 150 150', fill='none', xmlns='http://www.w3.org/2000/svg')
			circle(opacity='0.3', cx='75', cy='75', r='73', stroke='white', stroke-width='4')
			path(d='M66.9107 64.7278L89.7867 75.0002L66.9107 85.2727L66.9107 64.7278Z', fill='white', stroke='white', stroke-width='6.32')
		.content__video-bar
			.content__video-progress
			.content__video-drag

.popup#blend
	include popup-action
	.popup__container.content
		.content__item.content__item--left(style='background-image: url(./images/temp_bg/bg.jpg)')
		.content__item.content__item--right.blend
			h2.h2.blend__title ACHIEVING PERFECTION
			h3.h3.blend__text Pure grain alcohol undergoes a 5-step distillation process under the supervision of experienced artisans.
			.blend__descr
				p.blend__descr-text Through their knowledge of the secrets of the art of distillation, French craftsmen produce the highest quality product and achieve the optimal flavor.
				p.blend__descr-text The high degree of purification means the product has a uniquely smooth and harmonious flavor and neutral aroma, which is as smooth as the snow on the Alps. The note of alpine freshness bestows the drink the desired pure taste and aroma.
			h2.h2.blend__creator-title Alan Vincent – the master blender!
			.blend__descr
				p.blend__descr-text Alan boasts the honorary title of cellar master in the winemaking industry in France.
				p.blend__descr-text Alan Vincent is responsible for every step in the production of MONT BLANC vodka and for ensuring its exemplary quality in accordance with all the traditions of this region and the wisdom of winemakers of old.

.popup#bottle
	include popup-action
	.popup__container.content.js-drag
		.content__grapic
			+svg('360')
			span.content__grapic-text Rotate cursor to view the bottle
		.content__bottle-descr.content__bottle-descr--left(data-slide-text='1')
			svg.content__bottle-icon.content__bottle-icon--left(width='60', height='60', viewBox='0 0 60 60', fill='none', xmlns='http://www.w3.org/2000/svg')
				circle.circle(cx='30', cy='30', r='29', stroke='url(#paint0_linear)', stroke-width='2')
				path(d='M29.9429 37H32.0571V31.0413H38V28.9587H32.0571V23H29.9429V28.9587H24V31.0413H29.9429V37Z', fill='white')
			.content__bottle-line.content__bottle-line--left
			h2.content__bottle-title Glass cork
			p.content__bottle-text Reliably leak-proof with the right oxygen ingress
		.content__bottle-descr.content__bottle-descr--left.content__bottle-descr--left-two(data-slide-text='3')
			svg.content__bottle-icon.content__bottle-icon--left(width='60', height='60', viewBox='0 0 60 60', fill='none', xmlns='http://www.w3.org/2000/svg')
				circle.circle(cx='30', cy='30', r='29', stroke='url(#paint0_linear)', stroke-width='2')
				path(d='M29.9429 37H32.0571V31.0413H38V28.9587H32.0571V23H29.9429V28.9587H24V31.0413H29.9429V37Z', fill='white')
			.content__bottle-line.content__bottle-line--left
			h2.content__bottle-title BOTTLE FROSTING
			p.content__bottle-text Made by the technology of "glass satin" - the effect of misted glass. The glass gets a nice soft shade which makes it elegant and pleasant tactility of touch
		.content__bottle-img( data-count='4')
			img(src='./images/bottle/bottle_0.png' data-slide-index='1')
			img(src='./images/bottle/bottle_1.png' data-slide-index='2')
			img(src='./images/bottle/bottle_2.png' data-slide-index='3')
			img(src='./images/bottle/bottle_3.png' data-slide-index='4')
		.content__bottle-descr.content__bottle-descr--right(data-slide-text='1')
			svg.content__bottle-icon.content__bottle-icon--right(width='60', height='60', viewBox='0 0 60 60', fill='none', xmlns='http://www.w3.org/2000/svg')
				circle.circle(cx='30', cy='30', r='29', stroke='url(#paint0_linear)', stroke-width='2')
				path(d='M29.9429 37H32.0571V31.0413H38V28.9587H32.0571V23H29.9429V28.9587H24V31.0413H29.9429V37Z', fill='white')
			.content__bottle-line.content__bottle-line--right
			h2.content__bottle-title Bottle
			p.content__bottle-text.content__bottle-text--strong Transparent debossed window – Mont Blanc mountain, filigreed, as if made of ice – will take us to the cold icy peaks.
		.content__bottle-descr.content__bottle-descr--right.content__bottle-descr--right-two(data-slide-text='3')
			svg.content__bottle-icon.content__bottle-icon--right(width='60', height='60', viewBox='0 0 60 60', fill='none', xmlns='http://www.w3.org/2000/svg')
				circle.circle(cx='30', cy='30', r='29', stroke='url(#paint0_linear)', stroke-width='2')
				path(d='M29.9429 37H32.0571V31.0413H38V28.9587H32.0571V23H29.9429V28.9587H24V31.0413H29.9429V37Z', fill='white')
			.content__bottle-line.content__bottle-line--right
			h2.content__bottle-title Silk screen printing
			p.content__bottle-text Silk screen printing on glass for all design elements of a bottle

.popup#cocktail
	include popup-action
	.popup__container.js-link.js-wrapper
	.popup__nav
		.popup__nav-item.popup__nav-item--prev Previous
		.popup__nav-item.popup__nav-item--next.popup__nav-item--active Next

.popup#products
	include popup-action
	.product
		.product__bg
		.product__wrapper
			.product__slide.product__slide--one.js-clean
				h3.product__button.product__button--reverse.js-product.js-link.js-clean Standart edition
				.product__item.js-clean
					img.product__img.product__img--1(src='./images/products/500.png')
					.product__descr
						p MONT BLANC
						p vodka 0.5l
				.product__item.js-clean
					img.product__img.product__img--1(src='./images/products/700.png')
					.product__descr
						p MONT BLANC
						p vodka 0.7l
				.product__item.js-clean
					img.product__img.product__img--1(src='./images/products/1000.png')
					.product__descr
						p MONT BLANC
						p vodka 1.0l
			.product__slide.product__slide--disable.product__slide--pro.js-clean
				h3.product__button.js-product.js-link.js-clean Limited edition
				h2.product__title.js-clean Limited edition
				.product__item.js-clean
					img.product__img.product__img--07(src='./images/products/prod_blue.png')
					.product__descr
						p MONT BLANC
						p vodka VOYAGE 0.7l
						span Limited edition dedicated to the 250th anniversary of the first circumnavigation of the world under the French flag.
				.product__item.js-clean
					img.product__img.product__img--07(src='./images/products/prod_plat.png')
					.product__descr
						p MONT BLANC
						p vodka Pure Diamond 0.7l
						span A limited series dedicated to the first human ascent of Mont Blanc and the first discoveries of valuable crystals and minerals hidden in the glaciers of the Mont Blanc mountain range.

.popup.popup--small#gold
	.popup__overlay.js-popup-close
	.popup__wrapper
		include popup-action
		.popup__container.gold-award
			.gold-award__contnet
				h2 DOUBLE GOLD MEDAL SFWSC 2022
				p In 2022, Mont Blanc Vodka took part in one of the world's most prestigious alcoholic beverage competitions, the World Spirits Competition in San Francisco (USA). We are proud that our brand was highly appreciated by all the jury members and won a Double gold medal. According to the results of the contest, MontBlanc Vodka is recognized as one of the best in the world in its category!
			.gold-award__img
				img(src='./images/gold-sert.jpg')
