.popup#video
	include popup-action
	.popup__container.content
		video.content__video(muted, loop, width="1920" height="1080")
			source(src='./video/montblanc.mp4', type='video/mp4')
		svg.content__icon.js-square.js-stack(width='150', height='150', viewBox='0 0 150 150', fill='none', xmlns='http://www.w3.org/2000/svg')
			circle(opacity='0.3', cx='75', cy='75', r='73', stroke='white', stroke-width='4')
			path(d='M66.9107 64.7278L89.7867 75.0002L66.9107 85.2727L66.9107 64.7278Z', fill='white', stroke='white', stroke-width='6.32')
		.content__video-bar
			.content__video-progress
			.content__video-drag

.popup#blend
	include popup-action
	.popup__container.content
		.content__item.content__item--left(style='background-image: url(./images/temp_bg/bg.jpg)')
		.content__item.content__item--right.blend
			h2.h2.blend__title Создание и купаж
			h3.h3.blend__text Чистый зерновой спирт проходит 5-ти ступенчатый процесс дистилляции, под контролем опытных мастеров
			.blend__descr
				p.blend__descr-text Секреты искусства дистилляции, которыми владеют старые французские мастера, позволяют получить продукт высшего качества и достичь оптимального вкуса
				p.blend__descr-text Высокая степень очистки позволяет создать продукт с уникально мягким и гармоничным вкусом, нейтральным запахом, который пьется так мягко, как падающий снег в Альпах. Последняя нота альпийской свежести придает напитку искомое ясное звучание.
			h2.h2.blend__creator-title Мастер купажа - Алан Винсент!
			.blend__descr
				p.blend__descr-text Он имеет почетное звание – «мастера погреба» в виноделии, во Франции
				p.blend__descr-text Алан Винсент отвечает за каждый шаг в создании водки МОН БЛАН, за каждый элемент производства, за обеспечение высочайшего качества продукта МОН БЛАН, согласно всем традициям данного региона и мудрости старого поколения виноделов.
			h2.h2.blend__creator-title Мастер купажа - Алан Винсент!
			.blend__descr
				p.blend__descr-text Он имеет почетное звание – «мастера погреба» в виноделии, во Франции
				p.blend__descr-text Алан Винсент отвечает за каждый шаг в создании водки МОН БЛАН, за каждый элемент производства, за обеспечение высочайшего качества продукта МОН БЛАН, согласно всем традициям данного региона и мудрости старого поколения виноделов.

.popup#bottle
	include popup-action
	.popup__container.content.js-drag
		.content__grapic
			+svg('360')
			span.content__grapic-text Вращайте курсором для просмотра
		.content__bottle-descr.content__bottle-descr--left(data-slide-text='1')
			svg.content__bottle-icon.content__bottle-icon--left(width='60', height='60', viewBox='0 0 60 60', fill='none', xmlns='http://www.w3.org/2000/svg')
				circle.circle(cx='30', cy='30', r='29', stroke='url(#paint0_linear)', stroke-width='2')
				path(d='M29.9429 37H32.0571V31.0413H38V28.9587H32.0571V23H29.9429V28.9587H24V31.0413H29.9429V37Z', fill='white')
			.content__bottle-line.content__bottle-line--left
			h2.content__bottle-title Стеклянная пробка
			p.content__bottle-text Надежная герметичность с правильным коэффициентом пропускания кислорода
		.content__bottle-descr.content__bottle-descr--left.content__bottle-descr--left-two(data-slide-text='3')
			svg.content__bottle-icon.content__bottle-icon--left(width='60', height='60', viewBox='0 0 60 60', fill='none', xmlns='http://www.w3.org/2000/svg')
				circle.circle(cx='30', cy='30', r='29', stroke='url(#paint0_linear)', stroke-width='2')
				path(d='M29.9429 37H32.0571V31.0413H38V28.9587H32.0571V23H29.9429V28.9587H24V31.0413H29.9429V37Z', fill='white')
			.content__bottle-line.content__bottle-line--left
			h2.content__bottle-title Декорация на задней стороне бутылки
			p.content__bottle-text Декорация «ГОРЫ» на задней стороне бутылки, выполненная шелкографией
		.content__bottle-img( data-count='4')
			img(src='./images/bottle/bottle_0.png' data-slide-index='1')
			img(src='./images/bottle/bottle_1.png' data-slide-index='2')
			img(src='./images/bottle/bottle_2.png' data-slide-index='3')
			img(src='./images/bottle/bottle_3.png' data-slide-index='4')
		.content__bottle-descr.content__bottle-descr--right(data-slide-text='1')
			svg.content__bottle-icon.content__bottle-icon--right(width='60', height='60', viewBox='0 0 60 60', fill='none', xmlns='http://www.w3.org/2000/svg')
				circle.circle(cx='30', cy='30', r='29', stroke='url(#paint0_linear)', stroke-width='2')
				path(d='M29.9429 37H32.0571V31.0413H38V28.9587H32.0571V23H29.9429V28.9587H24V31.0413H29.9429V37Z', fill='white')
			.content__bottle-line.content__bottle-line--right
			h2.content__bottle-title бутылка
			p.content__bottle-text.content__bottle-text--strong Оригинальный дебоссинг окна на лицевой стороне бутылки в виде филигранно выточенной горы МОНБЛАН
			p.content__bottle-text Матированная бутылка, изготовленная путем технологии «сатинации стекла» - эффект запотевшего стекла. Стекло приобретает приятный мягкий оттенок, что делает её элегантной и приятной на ощупь​
		.content__bottle-descr.content__bottle-descr--right.content__bottle-descr--right-two(data-slide-text='3')
			svg.content__bottle-icon.content__bottle-icon--right(width='60', height='60', viewBox='0 0 60 60', fill='none', xmlns='http://www.w3.org/2000/svg')
				circle.circle(cx='30', cy='30', r='29', stroke='url(#paint0_linear)', stroke-width='2')
				path(d='M29.9429 37H32.0571V31.0413H38V28.9587H32.0571V23H29.9429V28.9587H24V31.0413H29.9429V37Z', fill='white')
			.content__bottle-line.content__bottle-line--right
			h2.content__bottle-title Шелкография
			p.content__bottle-text Маркетинговый междунородный текст и шк выполнен на стекле путем шелкографии

.popup#cocktail
	include popup-action
	.popup__container.js-link.js-wrapper
	.popup__nav
		.popup__nav-item.popup__nav-item--prev Предыдущий
		.popup__nav-item.popup__nav-item--next.popup__nav-item--active Следующий

.popup#products
	include popup-action
	.product
		.product__bg
		.product__wrapper
			.product__slide.product__slide--one.js-clean
				h3.product__button.product__button--reverse.js-product.js-link.js-clean Standart edition
				.product__item.js-clean
					img.product__img.product__img--1(src='./images/products/500.png')
					.product__descr
						p MONT BLANC
						p vodka 0.5l
				.product__item.js-clean
					img.product__img.product__img--1(src='./images/products/700.png')
					.product__descr
						p MONT BLANC
						p vodka 0.7l
				.product__item.js-clean
					img.product__img.product__img--1(src='./images/products/1000.png')
					.product__descr
						p MONT BLANC
						p vodka 1.0l
			.product__slide.product__slide--disable.product__slide--pro.js-clean
				h3.product__button.js-product.js-link.js-clean Limited edition
				h2.product__title.js-clean Limited edition
				.product__item.js-clean
					img.product__img.product__img--07(src='./images/products/prod_blue.png')
					.product__descr
						p MONT BLANC
						p vodka VOYAGE 0.7l
						span Высокая степень очистки позволяет создать продукт с уникально мягким и гармоничным вкусом.
				.product__item.js-clean
					img.product__img.product__img--07(src='./images/products/prod_plat.png')
					.product__descr
						p MONT BLANC
						p vodka Pure Diamond 0.7l
						span Высокая степень очистки позволяет создать продукт с уникально мягким и гармоничным вкусом.
