.popup
	position: fixed
	left: 0
	top: 0
	@include size(100%, 100vh)
	display: flex
	flex-wrap: wrap
	background-color: $menuBg
	z-index: 500
	transform: translateY(-100%)
	transition: all .5s ease-in-out
	overflow: hidden
	user-select: none

	&--small
		background: transparent
		.popup__action
			height: auto
			flex: 0 0 80px
			padding: 0

		.action__icon
			display: none

		.action__line
			border-color: #C4C4C4
			&:nth-child(2)
				height: 40%

		svg
			line
				stroke: #4F5E72

	&__wrapper
		display: flex
		align-self: center
		margin: 0 auto
		position: relative
		z-index: 2
		max-width: 1000px
		width: 100%
		background-color: #fff
		max-height: 100vh
		overflow-y: auto

	&__overlay
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
		background: rgba(0, 0, 0, 0.50)
		z-index: 1

	&__action
		flex: 0 0 154px

		.action__line
			opacity: 0.3 !important

	&__container
		flex: 0 0 calc(100% - 155px)

	&__nav
		position: absolute
		background-color: $white
		bottom: 0
		right: 0
		@include size(50%, auto)
		border-top: 1px solid #F2F2F2
		display: flex

		@include bp($point-3-low)
			right: unset
			left: 0
			@include size(100vw, auto)

		&-item
			cursor: pointer
			padding: 41px 0
			text-align: center
			flex: 0 0 50%
			font-size: 14px
			line-height: 130%
			letter-spacing: 0.02em
			text-transform: uppercase
			font-feature-settings: 'salt' on
			color: #C4C4C4
			transition: all .3s ease-in-out

			@include bp($point-3-low)
				font-size: 12px
				padding: 23px 0

			&--active
				color: #005FAB

			&--prev
				border-right: 1px solid #F2F2F2


	&.js-popup-opened
		transform: translateY(0)

#video,
#cocktail,
#bottle,
#products,
#blend
	.js-follower
		background-color: $white
		border-radius: 50%
		line
			stroke: #4F5E72

#video,
#cocktail,
#bottle,
#products,
#blend
	.action
		&__icon
			display: none

		&__close
			position: fixed
			top: 20px
			right: 20px

		&__line
			display: none

	.popup
		&__action
			flex: unset
			padding: 0

#blend,
#video
	.popup
		&__container
			flex: 0 0 100%


#bottle
	background: url("../images/bg_popup.jpg") center no-repeat
	background-size: cover

	.popup__action
		position: absolute
		left: 0
		top: 0
		height: 100%

		@include bp($point-3-low)
			height: auto

	.popup__container
		flex: 0 0 100%
	.action__line
		border-color: $white

#cocktail
	background-color: $white

	.content
		position: absolute
		left: 0
		top: 0

	.js-link
		cursor: default
	.popup__action
		position: absolute
		left: 0
		top: 0
		height: 100%

		@include bp($point-3-low)
			height: auto

	.popup__container
		flex: 0 0 100%
	.action__line
		border-color: $white

.content
	display: flex
	@include size(100%)

	@include bp($point-3-low)
		flex-direction: column

	&__video
		width: 100vw
		height: auto

		&-bar
			cursor: pointer
			position: absolute
			left: 0
			bottom: 44px
			right: 0
			margin: auto
			width: 80%
			height: 3px
			background-color: rgba(255, 255, 255, 0.2)
			overflow: hidden

		&-progress
			display: block
			width: 100%
			height: 100%
			background-color: $white
			transform: scaleX(0)
			transform-origin: 0 0
			position: relative
			z-index: 1

		&-drag
			width: 1px
			height: 20px
			top: -10px
			position: absolute
			z-index: 2
			transform-origin: 0 0

	&__icon
		position: absolute
		left: 0
		right: 0
		top: 0
		bottom: 0
		margin: auto
		cursor: pointer

	&__item
		@include size(50%, 100%)
		background-color: #fff

		@include bp($point-3-low)
			width: 100%

		&--left
			background-size: cover
			background-position: center
			background-repeat: no-repeat

		&--right
			height: 100vh
			overflow-y: auto
			padding: 96px 175px 88px 150px

			@include bp($point-6)
				padding: 50px

			@include bp($point-3-low)
				padding: 30px 25px 30px 20px

	&__bottle

		&-icon
			@include size(50px)
			display: none

			&--left
				margin-left: auto

			&--right
				margin-right: auto

		&-img
			z-index: 1
			position: absolute
			left: 0
			top: 0
			right: 0
			bottom: 0
			margin: auto
			height: 80vh
			width: 100%
			display: flex
			justify-content: center

			img
				height: 80vh
				max-width: 184px
				position: absolute
				transition: opacity 0.5s ease-in-out
				pointer-events: none

		&-descr
			display: flex
			flex-direction: column
			z-index: 2
			position: absolute
			left: 50%
			top: 50%
			transform: translate(-50%,-50%)

			&--left
				text-align: right
				left: 25.7%
				top: 20.5%

				@include bp($point-6)
					top: 30%
					max-width: 250px

				.content__bottle-title
					text-align: right
					margin: 0 0 21px auto

			&--left-two
				display: none
				left: 26.7%
				top: 49.5%

				.content__bottle-title
					max-width: 373px

				.content__bottle-line--left
					width: 4vw
					right: -110px

					@include bp(1024px)
						right: -51px

			&--right
				left: 76.3%
				top: 57.1%


				.content__bottle-title
					margin: 0 0 35px 0

			&--right-two
				display: none
				top: 76.1%

		&-title
			margin: 0 0 21px 0
			max-width: 300px
			font-weight: normal
			font-size: 36px
			line-height: 110%
			letter-spacing: 0.1em
			text-transform: uppercase
			font-feature-settings: 'salt' on

			@include bp(1024px)
				font-size: 22px

		&-text
			max-width: 387px
			font-family: $baseScndFont
			font-size: 18px
			line-height: 160%
			letter-spacing: 0.02em
			font-feature-settings: 'salt' on

			@include bp(1024px)
				font-size: 14px

			&--strong
				font-weight: 600

			&:nth-child(5)
				margin: 35px 0 0

		&-line
			position: absolute
			right: 0
			top: 0
			@include size(8.2vw,1px)
			border: 1px solid $white

			&--left
				top: 35px
				right: -227px
				@include size(10vw,1px)

				@include bp(1880px)
					right: -6vw
					width: 5vw

			&--right
				left: -197px
				top: 20px

				@include bp(1880px)
					left: -6vw
					width: 5vw
	&__grapic
		display: flex
		flex-direction: column
		align-items: center
		position: absolute
		top: 40px
		left: 20px

		&-text
			margin-top: 25px
			font-size: 14px
			line-height: 130%
			text-align: center
			letter-spacing: 0.02em
			font-feature-settings: 'salt' on
			opacity: 0.5
			max-width: 144px

		svg
			@include size(63px,41px)

.cocktail
	padding: 91px 37px 0 0
	position: relative
	overflow: hidden

	&__wrapper
		height: calc(100vh - 192px)
		overflow-y: auto
		padding: 0 131px 30px 150px

		@include bp($point-6)
			padding: 50px

		@include bp($point-3-low)
			padding: 30px 25px 30px 20px
			height: calc(50vh - 62px)
			width: 100vw

		&::-webkit-scrollbar-thumb
			-webkit-border-radius: 0
			border-radius: 11px
			background-color: #F2F2F2
			background-position: center
			background-repeat: no-repeat

		&::-webkit-resizer
			background-image: unset
			background-repeat: no-repeat
			width: 7px
			height: 0

		&::-webkit-scrollbar
			width: 6px

	&__title
		max-width: 526px
		font-size: 50px
		line-height: 110%
		letter-spacing: 0.03em
		text-transform: uppercase
		font-feature-settings: 'salt' on
		color: #005FAB
		margin: 0 0 40px
		font-weight: 300

		@include bp($point-3-low)
			font-size: 30px
			margin: 0 0 27px

	&__text
		font-family: $baseScndFont
		font-weight: normal
		line-height: 130%
		letter-spacing: 0.02em
		font-feature-settings: 'salt' on
		color: #4F5E72
		margin: 0 0 55px

		@include bp($point-3-low)
			margin: 0 0 38px

		&-descr
			font-family: $baseScndFont
			font-weight: normal
			font-size: 18px
			line-height: 130%
			letter-spacing: 0.02em
			font-feature-settings: 'salt' on
			color: #4F5E72
			margin: 43px 0 0

			@include bp($point-3-low)
				margin: 15px 0 0
				font-size: 12px

	&__ingredinets
		font-size: 36px
		line-height: 110%
		letter-spacing: 0.03em
		text-transform: uppercase
		font-feature-settings: 'salt' on
		color: #4F5E72
		margin: 0 0 20px
		font-weight: 300

		@include bp($point-3-low)
			font-size: 15px

	&__recipe-list
		list-style: none
		margin: 0 0 45px
		padding: 0 0 0 30px
		max-width: 520px

		@include bp($point-3-low)
			padding: 0 0 0 14px
			margin: 0 0 14px

	&__recipe-item
		font-family: $baseScndFont
		position: relative
		margin: 0 0 23px
		line-height: 130%
		font-weight: 300
		font-feature-settings: 'salt' on
		letter-spacing: 0.02em
		font-size: 18px
		color: #4F5E72

		@include bp($point-3-low)
			font-size: 12px
			margin: 0 0 9px

		&:after
			content: ''
			position: absolute
			left: -30px
			top: 7px
			@include size(6px)
			border: 1px solid #005FAB
			border-radius: 50%

			@include bp($point-3-low)
				@include size(4px)
				left: -14px
				top: 5px

	&__images
		display: flex
		flex-wrap: wrap
		padding-left: 16px

		@include bp($point-3)
			padding-left: 0

		&-item
			display: flex
			align-items: center
			justify-content: center
			@include size(80px)
			flex: 0 0 80px
			background-color: #F6F6F6
			border-radius: 50%

			@include bp($point-3-low)
				@include size(60px)
				flex: 0 0 60px

			&:not(:last-child)
				margin: 0 10px 10px 0

				@include bp($point-3-low)
					margin: 0 8px 8px 0

.blend
	&__title
		font-size: 50px
		line-height: 110%
		letter-spacing: 0.03em
		text-transform: uppercase
		font-feature-settings: 'salt' on
		color: #005FAB
		margin: 0 0 50px
		font-weight: 300

		@include bp($point-3-low)
			font-size: 30px
			margin: 0 0 26px

	&__text
		font-family: $baseScndFont
		font-weight: 500
		font-size: 22px
		line-height: 130%
		letter-spacing: 0.02em
		font-feature-settings: 'salt' on
		color: #4F5E72
		margin: 0 0 53px

		@include bp($point-3-low)
			font-size: 14px
			margin: 0 0 34px

	&__descr
		&:not(:last-of-type)
			margin: 0 0 78px

			@include bp($point-3-low)
				margin: 0 0 45px

	&__descr-text
		font-family: $baseScndFont
		color: #4F5E72
		font-weight: normal
		font-size: 18px
		line-height: 130%
		letter-spacing: 0.02em
		font-feature-settings: 'salt' on

		@include bp($point-3-low)
			font-size: 11px

		&:not(:last-child)
			margin: 0 0 25px

			@include bp($point-3-low)
				margin: 0 0 14px

	&__creator-title
		font-size: 36px
		line-height: 110%
		letter-spacing: 0.03em
		text-transform: uppercase
		font-feature-settings: 'salt' on
		color: #005FAB
		margin: 0 0 50px
		font-weight: 300
		position: relative

		@include bp($point-3-low)
			font-size: 15px
			margin: 0 0 37px

		&:before,&:after
			content: ''
			position: absolute
			left: 0
			right: 0
			margin: 0 auto
			width: 124px
			opacity: 0.5
			border: 1px solid #005FAB

			@include bp($point-3-low)
				width: 46px

		&:before
			top: -33px

		&:after
			bottom: -33px

.product
	overflow: hidden
	position: relative
	flex: 1
	background-color: $white

	&__bg
		position: absolute
		@include size(130%,100%)
		background: url("../images/products/bg.png") 50% no-repeat
		background-size: cover
		will-change: transform
		left: 0
		top: 0

	&__wrapper
		position: relative
		left: 0
		top: 0
		@include size(100%,100vh)

	&__slide
		display: flex
		align-items: flex-end
		position: absolute
		left: 50%
		top: 50%
		transform: translate(-50%,-50%)

		&--disable
			.product__item
				opacity: .08

		&--one
			top: 45%

		&--pro
			top: 43%
			left: 102vw

			.product__item
				margin: 0 130px
			.product__descr
				width: 350px

			+bp(1440px)
				left: 115vw
				margin-left: 5vw

	&__img
		max-width: unset

		&--07
			height: 66.1vh
			@media all and (max-height: 820px)
				height: 56.1vh

		&--1
			height: 75.4vh
			@media all and (max-height: 820px)
				height: 65.4vh

	&__title
		position: absolute
		top: -10%
		left: 50%
		transform: translateX(-50%)
		text-transform: uppercase
		font-weight: 300
		font-size: 250px
		line-height: 110%
		width: 842px

		@media all and (max-height: 820px)
			font-size: 200px
			text-align: center
			width: 674px
			top: 0

		@include bp($point-5)
			width: 515px
			font-size: 153px

	&__button
		position: absolute
		z-index: 10
		top: 50%
		transform: translateY(calc(-50% + 85px)) rotate(-90deg)
		left: -6%
		font-weight: 300
		color: #4F5E72
		letter-spacing: 0.03em
		text-transform: uppercase

		@include bp($point-6)
			left: -60px

		&:before
			content: ''
			position: absolute
			left: 50%
			top: 35px
			transform: translateX(-50%) rotate(90deg)
			background: url("../images/arrow.svg") no-repeat 50%
			width: 10px
			height: 15px

		&--reverse
			opacity: 0
			left: unset
			right: -120px

			@include bp($point-6)
				right: -90px

			&:before
				top: -35px
				transform: translateX(-50%) rotate(-90deg)

	&__item
		position: relative
		margin: 0 75px
		height: 100%
		display: flex
		align-items: flex-end

	&__descr
		width: 200px
		position: absolute
		left: 50%
		transform: translateX(-50%)
		top: calc(100% + 35px)
		text-align: center

		p
			font-family: $baseScndFont
			line-height: 139%
			color: #4f5e72
			letter-spacing: -0.3px

		span
			font-family: $baseScndFont
			font-size: 14px
			line-height: 130%
			color: #4f5e72
			display: inline-block
			margin-top: 17px


.gold-award
	display: flex
	flex: 1 1 auto
	padding: 50px 40px 38px 10px
	&__contnet
		flex: 1
		padding: 0 66px 0 0

		h1,h2,h3,h4,h5,h6
			font-weight: 300
			line-height: 110%
			letter-spacing: 0.03em
			text-transform: uppercase
			font-feature-settings: 'salt' on
			color: #005FAB
			margin: 43px 0 33px

			&:first-child
				margin: 0 0 33px

		h2
			font-size: 30px

		p
			font-size: 18px
			line-height: 130%
			letter-spacing: 0.02em
			font-feature-settings: 'salt' on
			color: #4F5E72

			&:not(:last-child)
				margin: 0 0 23px
	&__img
		flex: 0 0 277px
