footer.footer
	.footer__pointer.pointer.hide
		.pointer__container
			svg.pointer__arr.pointer__arr--top(width='17', height='11', viewBox='0 0 17 11', fill='none', xmlns='http://www.w3.org/2000/svg')
				path(d='M1.84619 9L8.38465 3L14.9231 9', stroke='white', stroke-width='3.53846', stroke-linecap='round')
			.pointer__arr.pointer__arr--midle
			svg.pointer__arr.pointer__arr--bottom(width='17', height='12', viewBox='0 0 17 12', fill='none', xmlns='http://www.w3.org/2000/svg')
				path(d='M1.84619 2L8.38465 9L14.9231 2', stroke='white', stroke-width='3.53846', stroke-linecap='round')
		.pointer__text Вперед

	.footer__lang
		a.footer__lang-item.footer__lang-item--active.js-square.js-stack.hover-s(href='#') RU
		a.footer__lang-item.js-square.js-stack.hover-s(href='#') EN
		a.footer__lang-item.js-square.js-stack.hover-s(href='#') FR
	.footer__development
		span.footer__development-text Создание сайта&nbsp;
		a.footer__development-link.js-link(href='https://nikoland.ru/' target='_blank') Nikoland
	.footer__sound.js-square.js-stack.hover-s
		svg.footer__sound-icon(width='24', height='21', viewBox='0 0 24 21', fill='none', xmlns='http://www.w3.org/2000/svg')
			rect(y='6', width='3', height='15', rx='1.5', fill='white')
			rect(x='7', width='3', height='21', rx='1.5', fill='white')
			rect(x='14', y='9', width='3', height='12', rx='1.5', fill='white')
			rect(x='21', y='15', width='3', height='6', rx='1.5', fill='white')
