DOCTYPE
html(lang="ru")
head
	meta(charset="UTF-8")
	title Главная
	link(rel="stylesheet" href="css/main.css")

body
	section.ie-page
		img.ie-page__logo(src="images/ie/logo.png" alt="Изображение")
		h1.ie-page__title Ваш браузер устарел
		p.ie-page__text Для правильного отображения и работы нашего сайта обновите ваш браузер или установите другой.
		ul.ie-page__browsers
			li.ie-page__browsers-item
				a.ie-page__browsers-link(href="#")
					img.ie-page__browsers-icon(src="images/ie/icon-chrome.png" alt="Изображение")
					span.ie-page__browsers-name Chrome
			li.ie-page__browsers-item
				a.ie-page__browsers-link(href="#")
					img.ie-page__browsers-icon(src="images/ie/icon-ie.png" alt="Изображение")
					span.ie-page__browsers-name Edge
			li.ie-page__browsers-item
				a.ie-page__browsers-link(href="#")
					img.ie-page__browsers-icon(src="images/ie/icon-ff.png" alt="Изображение")
					span.ie-page__browsers-name Mozilla
			li.ie-page__browsers-item
				a.ie-page__browsers-link(href="#")
					img.ie-page__browsers-icon(src="images/ie/icon-opera.png" alt="Изображение")
					span.ie-page__browsers-name Opera
			li.ie-page__browsers-item
				a.ie-page__browsers-link(href="#")
					img.ie-page__browsers-icon(src="images/ie/icon-safari.png" alt="Изображение")
					span.ie-page__browsers-name Safari
		ul.ie-page__languages
			li.ie-page__languages-item
				a.ie-page__languages-link.is-active(href="#") ru
			li.ie-page__languages-item
				a.ie-page__languages-link(href="#") en
			li.ie-page__languages-item
				a.ie-page__languages-link(href="#") fr
